[submodule "color"]
        path = lib/utils/color
	url  = https://github.com/loopj/commonjs-ansi-color.git
[submodule "async"]
	path = lib/utils/async
	url  = https://github.com/caolan/async.git
[submodule "hash"]
	path = lib/utils/hash
	url  = https://github.com/Marak/node_hash.git
[submodule "jake"]
	path = lib/utils/jake
	url  = https://github.com/mde/jake.git
